

<div class="background-image-task-edit">


<%= form_for @task, url: tasklist_task_path(tasklist_id: @tasklist.id, id: @task.id), method: :put do |f| %>


<div class="task-edit-position">
	<h3 class="form task-h3">Tasks</h3>
	<div class="form">
	<p>	
		<%= f.label :title %></br>
		<%= f.text_field :title %>
	</p>
	</div>

	<div class="form">
	<p class="form">
		<%= f.label :description %></br>
		<%= f.text_area :description %>
	</p>
	</div>

<!---
	<p>
		<%= f.label :priority %>
		<%= f.text_area :priority %>
	</p>
-->



	 <p class="form">
 		  <%= f.label :priority %></br>
          <%= f.radio_button :priority, 'Low' %>
          <%= f.label :priority, 'Low' %>
          <%= f.radio_button :priority, 'Medium' %>
          <%= f.label :priority, 'Medium' %>
          <%= f.radio_button :priority, 'High' %> 
          <%= f.label :priority, 'High' %>
    </p>

	<p class="form">
          <%= f.label :status %></br>
          <%= f.radio_button :status, 'Not Started' %> 
          <%= f.label :status, 'Not Started'%>
          <%= f.radio_button :status, 'In Progress' %>
          <%= f.label :status, 'In Progress' %>
          <%= f.radio_button :status, 'Completed' %> 
          <%= f.label :status, 'Completed' %>
    </p>



	<p class="form">
		<%= f.submit 'Submit' %>
	</p>


<% end %>
</div>
</div>
  <%= yield %>
